<!--The content below is only a placeholder and can be replaced.-->
<nav class="nav justify-content-between bg-light nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link" routerLink="/dashboard">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/genres">Genres</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/artists">Artists</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/songs">Songs</a>
  </li>
</nav>
<router-outlet></router-outlet>

