<div class="container">
  <div class="row" *ngIf="artist">
    <div class="col-sm">
      <h2>Update artist</h2>
      <form [formGroup]="artistForm" (ngSubmit)="onSubmit()">
        <label>
          Name:
          <input type="text" formControlName="artistName">
        </label>

        <label>
          Age:
          <input type="number" formControlName="artistAge">
        </label>

        <button type="submit" class="btn btn-success" [disabled]="!artistForm.valid" (click)="update()">SAVE</button>
        &nbsp;
        <button type="button" class="btn btn-info" (click)="goBack()">Go Back</button>
      </form>
    </div>
    <div class="col-sm">
      <h2>Database state of the artist</h2>
      <label>
        Name:
      </label>
      <p>{{artist.name}}</p>

      <label>
        Age:
      </label>
      <p>{{artist.age}}</p>

      <label>
        Genre(s):
      </label>
      <li *ngFor="let genre of artist.genres">
        {{genre.name}}
      </li>

      <button type="button" class="btn btn-danger" id="delete" (click)="delete()">Delete artist</button>
      <h6><small>Deleting an artist will send you back to the artists page.</small></h6>
    </div>
  </div>
</div>
